{% extends 'base.html.twig' %}

{% block body %}
{% for article in articles %}
    {{ article.name }} <a href="{{ path("delete", {"id": article.id}) }}">Delete</a> <a href="{{ path ("edit", {"id": article.id}) }}">Edit</a> <br>
    {#{{ article.description }}<br>#}
{% endfor %}

{% endblock %}

